*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none; 
	font-family: Arial;
}

.center{
	margin: 0 auto;
}


/*顶端导航栏*/
.nav{
	position: fixed;
	top: 0px;
	height: 50px;
	width: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 100;
	padding-top: 10px;
}

.nav .title{
	height: 50px;
	width: 1094px;
}

.nav .title .logo{
	display: inline-block;
	padding-top: 10px; 
	padding-left: 6px;
}

.nav .title .logo .logoImg{
	width: 34px;
	height: 34px;
}

.nav .title .name{
	position: absolute;
	display: inline-block;
	padding-left: 5px;
	padding-top: 10px;
	color: #fff;
}

.nav .title .name p{
	font-size: 20px;
}

.nav .title .right{
	float: right;
}

.nav .title .right .option{
	display: inline-block;
	padding: 10px 30px 0px 30px;
	color: #fff;
}

.nav .title .right .option a{
	color: #fff;
	font-size: 20px;
}

.nav .title .right .option a:hover{
	color: blue;
	font-size: 20px;
}

.nav .title .right .letter{
	display: inline-block;
}

.nav .title .right .letter div{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: red;
	top: 20px;
	margin-left: 20px;
	color: #fff;
	text-align: center;
	font-size: 10px;
	line-height: 16px;
}




.nav .title .right .whiteDot{
	display: inline-block;
}

.nav .title .right .whiteDot div{
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #fff;
	margin-left: 20px;
	margin-top: 10px;
}







/*头部轮播图*/
.head{
	position: relative;
	height: 700px;
	width: 100%;
	background-image: url("image/14.png");
	background-repeat:no-repeat;
	background-position:top;
}

.head .dotBox{
	position: absolute;
	height: 30px;
	width: 100px;
	left: 50%;
	bottom: 0px;
	padding-bottom: 8px;
	margin-left: -50px;
	/* background: #fff; */
	/* z-index: 102; */
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: 1fr;
}

.head .dot{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #ccc;
}

.head .dot:hover{
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}








/*主体内容*/
.content{
	position: relative;
	height: 1452px;
	width: 100%;
	background: rgba(248,248,248);
}

.content .box{
	width: 1234px;
	height: 1452px;
	background: rgba(248,248,248);
}

.content .box .pad{
	width: 1134px;
	height: 1352px;
	padding: 50px;
	background: rgba(248,248,248);
	display: grid;
	grid-template-rows: repeat(4,1fr);
	grid-template-columns: repeat(3,1fr);
}

.content .box .pad .item{
	/*width: 338px;
	height: 298px;*/
	position: relative;
	margin: 20px;
	border: 1px solid #ddd;
	border-radius: 10px; 
	background: #fff;
}

.content .box .pad .item .headline{
	font-size: 24px;
	text-align: center;
	padding-top: 20px;
}

.content .box .pad .item .logoBox{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	height: 70px;
}

.content .box .pad .item .logoBox img{
	/*width: 70px;
	height: 70px;*/
}



.content .box .pad .item .text{
	height: 60px;
	padding-right: 15px;
	padding-left: 15px;
	color: #999;
	font-size: 16px;
}



.content .box .pad .item .btn{
	height: 50px;
}

.content .box .pad .item .btn .btnBox{
	display: inline-block;
	width: 49%;
	text-align: center;
	font-size: 24px; 
	padding-top: 16px;
}

.content .box .pad .item .btn .btnBox a{
	color: rgb(54, 98, 219);
}






/*尾部介绍栏*/
.footer{
	position: relative;
	height: 350px;
	width: 100%;
	background: #444;
}

.footer .present{
	position: relative;
	width: 1094px;
	height: 350px;
	background: #444;
	color: #eee;
}

.footer .present .footerTitle{
	padding: 30px 0px;
	font-size: 18px;

}

.footer .present .footerText{
	font-size: 14px;
}

.footer .present .msg{
	padding-top: 15px;
	font-size: 14px;
}

.footer .present .copyright{
	padding-top: 40px;
	text-align: center;
}







/*    产品格子尺寸 338px * 298px    */






